.button {
  border: none;
  height: 48px;
  width: 176px;
  text-transform: capitalize;
  background-color: $colorGreen;

  &:hover {
    background-color: $colorWithe;
  }

  &__link {
    text-decoration: none;
    color: $colorWithe;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 10px;

    &:hover {
      color: $colorGreen;
    }
  }
}

.button2 {
  border: none;
  height: 48px;
  width: 176px;
  background-color: transparent;

  &:hover {
    background-color: $colorWithe;
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    color: $colorWithe;
    padding: 18px 10px;

    &:hover {
      color: $colorGreen;
    }
  }
}