.button {
  /*   height: 48px; */
  text-transform: capitalize;
  background-color: $colorGreen;
  text-decoration: none;
  color: $colorWithe;
  font-weight: 600;
  padding: 18px 23px;
  transition: 500ms;

  &:hover {
    background-color: $colorWithe;
    color: $colorGreen;
    transform: scale(1.2);
  }
}

.button2 {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: $colorWithe;
  padding: 18px 23px;
  margin-top: 5px;
  transition: 500ms;

  &:hover {
    background-color: $colorWithe;
    color: $colorGreen;
    transform: scale(1.2);
  }

}