.button {
  padding: 0;
  border: none;
  height: 48px;
  text-transform: capitalize;
  background-color: $colorGreen;
  transition: 500ms;

  &:hover {
    background-color: $colorWithe;
    transform: scale(1.2)
  }

  &__link {
    text-decoration: none;
    color: $colorWithe;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 25px;

    &:hover {
      color: $colorGreen;
    }
  }
}

.button2 {
  padding: 0;
  margin-top: 25px;
  border: none;
  height: 48px;
  background-color: transparent;
  transition: 500ms;

  &:hover {
    background-color: $colorWithe;
    transform: scale(1.2);
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    color: $colorWithe;
    padding: 18px 23px;

    &:hover {
      color: $colorGreen;
    }
  }
}