<footer class="footer">
  <nav class="item">
    <h3 class="titleItem">Tienda</h3>
    <ul class="listItem">
      <li><a class=linkItem href="https://adalab.es/"> Productos</a></li>
      <li><a class=linkItem href="https://adalab.es/"> Cajoneras</a></li>
      <li><a class=linkItem href="https://adalab.es/">Para toda la Casa</a></li>
      <li><a class=linkItem href="https://adalab.es/">Habitaciones</a></li>
    </ul>
  </nav>
  <nav class="item">
    <h3 class="titleItem">Nosotros</h3>
    <ul class="listItem">
      <li><a class=linkItem href="https://adalab.es/">Nuestra guía</a></li>
      <li><a class=linkItem href="https://adalab.es/">Nuestro diseño</a></li>
      <li><a class=linkItem href="https://adalab.es/"> Nuestra historia</a></li>
      <li><a class=linkItem href="https://adalab.es/"> Ayuda</a></li>
    </ul>
  </nav>
  <nav class="item">
    <h3 class="titleItem">Contacto</h3>
    <ul class="listItem">
      <li><a class=linkItem
          href="mailito:ayuda@openspaces.com">ayuda@openspaces.com</a></li>
      <li><a class=linkItem href="loging">Socios</a></li>
    </ul>
    <div class="icon">
      <a class="icon__logo" target="_blank"
        href="https://www.linkedin.com/school/adalab/">
        <i class="fab fa-linkedin-in fa-lg"></i></a>
      <a class="icon__logo" target="_blank"
        href="https://github.com/modehans"><i
          class="fa-brands fa-github"></i></a>
      <a class="icon__logo" target="_blank"
        href="https://twitter.com/ModeHans"><i
          class="fab fa-twitter fa-lg"></i></a>
    </div>
  </nav>
  <a class="iconArrow" href="#top"><i class="fa-solid fa-arrow-up"></i></a>


</footer>