<footer class="footer">
  <section>
    <h3>Tienda</h3>
    <ul>
      <li><a href=""> Productos</a></li>
      <li><a href=""> Cajoneras</a></li>
      <li><a href="">Para toda la Casa</a></li>
      <li><a href="">Habitaciones</a></li>
    </ul>
  </section>
  <section>
    <h3>Nosotros</h3>
    <ul>
      <li><a href="">Nuestra guía</a></li>
      <li><a href="">Nuestro diseño</a></li>
      <li><a href=""> Nuestra historia</a></li>
      <li><a href=""> Ayuda</a></li>
    </ul>
  </section>
  <section>
    <h3>Contacto</h3>
    ayuda@openspaces.com
    Socios
    icon Linkedin
    icon Instagram
    icon Twitter
  </section>
  <a href="#top">volver arriba</a>

</footer>