<header class="header" id="top">
  <nav class="menu">
    <i class="fas fa-bars"></i>
    <ul class="listMenu">
      <li><a class="listMenu__link" href="#">Productos</a></li>
      <li><a class="listMenu__link" href="#">Colecciones</a></li>
      <li><a class="listMenu__link" href="#">Tienda</a></li>
      <li><a class="listMenu__link" href="#">Inicio</a></li>
    </ul>
  </nav>
  <section class="hero">
    <img class="hero__logo" src="./assets/images/logo.png" alt="Logo Open Spaces" Title="Open Spaces"></img>
    <div class="hero__text">
      <h2 class="title2">Disfruta creando espacios</h2>
      <button class="button"><a class="button__link" href="#">Comprar ahora</a></button>
    </div>
  </section>
</header>