<header class="header" id="top">
  <nav class="menu">
    <a href="https://adalab.es/"><i class="fas fa-bars"></i></a>
    <ul class="listMenu">
      <li><a class="listMenu__link" href="#">Productos</a></li>
      <li><a class="listMenu__link" href="#">Colecciones</a></li>
      <li><a class="listMenu__link" href="#">Tienda</a></li>
      <li><a class="listMenu__link" href="#">Inicio</a></li>
    </ul>
  </nav>
  <section class="hero">
    <img class="hero__logo" src="./assets/images/logo.png"
      alt="Logo Open Spaces" Title="Open Spaces">
    <div class="hero__text">
      <h2 class="title2">Disfruta creando espacios</h2>
      <a class=" button" href="#">Comprar
        ahora</a>
    </div>
  </section>
</header>