<section class="sectionOne">

  <h1 class="title1">Volverse organizado se siente mejor con <span
      class="name">Open
      Spaces</span>
  </h1>


  <include src="./feature.html" title="Lo que necesitas"
    description="Una línea de productos diseñados para todos tus espacios"
    imgSrc="./assets/images/icon_1.png" imgAlt="Productos">
  </include>

  <include src="./feature.html" title="Materia primas sustentables"
    description="Todos los productos con materias primas sustentables"
    imgSrc="./assets/images/icon_2.png" imgAlt="Reciclados"></include>

  <include src="./feature.html" title="Guía"
    description="Soporte y asesoramiento para ayudarte con tu objetivo"
    imgSrc="./assets/images/icon_3.png" imgAlt="Guía">
  </include>
</section>