.footer {
  box-sizing: border-box;
  background-color: $colorGreen;
  color: $colorWithe;
  padding: 20% 15% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.item {
  text-align: left;
  width: 208px;
  height: 120px;
  line-height: 1.5;
}

.titleItem {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;

  @media all and (min-width:1280px) {
    font-size: 24px;
  }
}

.linkItem {
  font-size: 14px;
  color: $colorWithe;
  text-decoration: none;

  @media all and (min-width:1280px) {
    font-size: 16px;
  }
}

.icon {
  margin-top: 20px;

  &__logo {
    color: $colorWithe;
    width: 26px;
    height: 26px;
  }

  .fa-instagram {
    padding: 10px;
  }
}

.iconArrow {
  color: $colorWithe;
  align-self: flex-end;
  transition: 300ms;

  &:hover {
    transform: scale(2);
  }
}