.header {
  box-sizing: border-box;
  height: 100vh;
}

.menu {
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 10%;
  padding-top: 15vh;

  @media all and (min-width:1728px) {
    position: absolute;
  }

}

.fa-bars {
  color: $colorGreen;
  width: 24px;
  height: 24px;

  @media all and (min-width:1728px) {
    display: none;
  }
}

.listMenu {
  display: none;
  color: $colorGreen;

  &__link {
    text-decoration: none;
    color: $colorGreen;

  }

  @media all and (min-width:1728px) {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.hero {
  height: 100vh;
  color: $colorGreen;
  background: url('../images/header.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 213px;
  }

  &__text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    @media all and (min-width:900px) {
      max-width: 400px;
      margin-right: 20%;
      align-items: flex-start;
      gap: 30px;

    }
  }
}

.title2 {
  font-size: 24px;
  font-weight: 600;

  @media all and (min-width:900px) {
    font-size: 36px;
    line-height: 1.5;
  }
}