.send {
  /*  height: 352px; */
  color: $colorWithe;
  background-color: $colorOrange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 45px 0px;

  &__img {
    width: 120px;
    height: 120px;
  }
}

.text {
  text-align: center;
  line-height: 2;

  &__h2 {
    font-size: 24px;
    font-weight: 600;

    @media all and (min-width:900px) {
      font-size: 30px;
    }

    @media all and (min-width:1728px) {
      font-size: 36px;
    }
  }

  &__min {
    font-size: 14px;

    @media all and (min-width:1728px) {
      font-size: 16px;
    }
  }
}