.send {
  color: $colorWithe;
  background-color: $colorOrange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 45px 10px;
  text-align: center;
  line-height: 2;

  &__img {
    width: 120px;
    height: 120px;
  }

  &__title2 {
    font-size: 24px;
    font-weight: 600;

    @media all and (min-width:1280px) {
      font-size: 36px;
    }
  }

  &__description {
    font-size: 14px;

    @media all and (min-width:1280px) {
      font-size: 16px;
    }
  }
}