.sectionOne {
  box-sizing: border-box;
  background-color: $colorLightGrey;
  color: $colorGreen;
  padding: 8% 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;

  @media all and (min-width:768px) {
    grid-template-rows: 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.title1 {
  font-size: 24px;
  font-weight: 600;
  grid-column: 2/3;
  line-height: 1.5;

  @media all and (min-width:768px) {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width:1280px) {
      font-size: 36px;
    }
  }

  &__description {
    width: 322px;

    @media all and (min-width:768px) {
      width: 35ch;
    }
  }

  .name {
    text-transform: uppercase;
  }


}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  gap: 20px;


  @media all and (min-width:768px) {
    grid-row: 2/3;
    grid-column: auto;
  }

  &__img {
    width: 90px;
    height: 90px;
  }

  &__title3 {
    font-size: 20px;
    font-weight: 600;

    @media all and (min-width:1280px) {
      font-size: 24px;
    }
  }

  &__description {
    font-size: 16px;
  }
}