.sectionOne {
  box-sizing: border-box;
  padding: 60px 20px;
  background-color: $colorLightGrey;
  color: $colorGreen;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 30px;
}

.title1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  width: 280px;

  @media all and (min-width:1280px) {
    font-size: 36px;
  }

  .name {
    text-transform: uppercase;
  }


}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 30px;

  &__img {
    width: 90px;
    height: 90px;
  }

  &__title3 {
    font-size: 20px;
    font-weight: 600;

    @media all and (min-width:1280px) {
      font-size: 24px;
    }
  }

  &__description {
    font-size: 16px;
  }
}