.hero {
  &__text {
    max-width: 400px;
    margin-right: 20%;
    align-items: flex-start;
    gap: 30px;
  }

  .title2 {
    font-size: 36px;
    line-height: 1.5;
  }
}

.sectionOne {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;

  .title1 {
    grid-column: 1/4;
    width: 35ch;
  }

  .feature {
    grid-row: 2/3;
    grid-column: auto;
  }
}

.send {
  &__title2 {
    font-size: 30px;
  }
}

.textMake {
  &__h2 {
    font-size: 30px;
  }
}

.imgMake {
  height: 475px;
}

.footer {
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 10% 5% 15%;
}